button{
    background-color: #3015b4;
    color: white;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
}

#lang{
    padding: 15px;
    background-color: rgb(217, 205, 205);
    color: #000000;
    border-radius: 50px;
    
}

* 
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


.display_images{
    width: 1200px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap:30px;
    
}
.display_images img 
{
    width: 90%;
    border-radius: 5px;
    height: 290px;
    cursor: pointer;
    
}


input 
{
    padding: 10px;
    border: 1px solid rgb(88, 73, 73);
    border-radius: 50px;
    background: #f6f7f7;
    width: 45%;
    font-size: 25px;
    margin-left: 25%;
    color: #9119a7;

}



.showmore{
    margin: 0 auto;
  display: block;
} 

h1{
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif; 
   color: rgb(111, 19, 147);
   letter-spacing: 10px;
   background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ef058b0f-9bbe-45b8-8521-ff7b0e067894/d5dwfx4-93828ea2-3c76-459e-8c1e-54f45b0d3b88.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VmMDU4YjBmLTliYmUtNDViOC04NTIxLWZmN2IwZTA2Nzg5NFwvZDVkd2Z4NC05MzgyOGVhMi0zYzc2LTQ1OWUtOGMxZS01NGY0NWIwZDNiODgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._S80je_MLKgs52ahNVF74Y9MSjeaoXjpgsmhy0rAunc') 50% 50%;
   background-size: cover;
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
    
}
.container 
{
    height: 300px;
    box-shadow: 0 10px 40px -10px rgb(0 64 128 / 10%);
    background-color: aqua;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/205/249/242/beige-and-brown-fox-sitting-on-log-near-tree-vixen-vixen-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: local;
    
}